<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
</head>
<body>
    <h1>Hola Warudo</h1>
    <% if(test && test.length !== 0) {
        for(testUnit of test) { %>
            <p><%= testUnit.name %></p>
        <% }
    } %>
</body>
</html>