<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('includes/head') %>
    <title>Online Shop - Signup</title>
</head>
<body>
    <header></header>
    <main>
        <form action="/signup" method="POST">
            <input type="mail" name="mail">
            <input type="mail" name="confirm-mail">
            <input type="password" name="password">
            <button>Valider</button>
        </form>
    </main>
</body>
</html>